.floatingContact {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    background-color: rgb(54, 54, 122);

    border-radius: 10px;

    display: flex;
    align-items: center;

    h2 {
        margin: 20px;
    }

    .icon {
        height: 40px;
        width: 80px;
        fill: rgb(255, 255, 255);
    }
}

.extended {
    width: auto;
}
