.mainPage {
    width: 100vw;
    overflow: hidden;
}

.mainRow {
    display: flex;
    flex-direction: row;
    align-items: space;
    justify-content: space-between;
    height: 100vh;
}

.mainImage {
    height: 100vh;
}

.textDiv {
    min-width: 300px;
    max-width: 1500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    h1 {
        font-size:80px;
        margin: 0 0 0 0;
    }
    h2 {
        font-size: 40px;
        margin: 0;
    }
    p {
        min-width: 40%;
        max-width: 80%;
        font-size: 30px;
        margin: 0;
    }
}

.longBio {
    width: 40%;
    height: 60%;
    overflow-y: scroll;
    font-size: 30px;
    margin:auto;
}

.toggleableRow {
    margin: auto;
    display: flex;
    justify-content: center;
}